For this project, we will make an analysis of Nike sales during 2024, paying attention to certain parameters like sales on different regions to find insights about the causes of
such successes.
In this case, we will make an EDA(exploratory data analysis) using Plotly, Pandas and cofflinks.This last one help us to establish a better communication between Pandas and Plotly.

In [1]:
#Import the libraries 
import pandas as pd 
import seaborn as sb

In [7]:
df = pd.read_csv(r"C:\Users\CR\Desktop\datasets_used\data_visualizations\nike_sales_2024.csv")

In [8]:
#First rows of our dataset
df.head()

,Month,Region,Main_Category,Sub_Category,Product_Line,Price_Tier,Units_Sold,Revenue_USD,Online_Sales_Percentage,Retail_Price
0,November,India,Equipment,Bags,Gym Sack,Budget,48356,14506800,73,300
1,January,India,Equipment,Accessories,Hats,Budget,9842,2066820,50,210
2,October,India,Apparel,Tops,Tech Fleece,Mid-Range,25079,1755530,90,70
3,December,Greater China,Footwear,Cricket,Vapor Cricket,Premium,41404,8694840,58,210
4,May,Greater China,Equipment,Socks,Performance Socks,Premium,33569,5371040,53,160

In [9]:
#Statistical analysis of our data
df.describe()

         Units_Sold   Revenue_USD  Online_Sales_Percentage  Retail_Price
count   1000.000000  1.000000e+03              1000.000000    1000.00000
mean   28498.951000  5.039576e+06                70.040000     176.32000
std    12926.495678  3.267217e+06                11.748635      75.26169
min     5028.000000  2.874000e+05                50.000000      50.00000
25%    17554.250000  2.344675e+06                60.000000     110.00000
50%    28685.000000  4.328020e+06                71.000000     180.00000
75%    40026.000000  7.264942e+06                80.000000     240.00000
max    49992.000000  1.486470e+07                90.000000     300.00000

In [10]:
#Drop null values
df = df.dropna()

Using the Seaborn library, we will make a scatterplot to see the distribution of sales in different months of the year


As we can see, the month with the highest number of sales was November,while the other months reach a lookalike result.
We personalize our scatterplot to be able to select the months we want to know their results.