## Top 50 restaurants 2020

This dataset contains information related to restaurants perfomance in 2020,specifically in the pandemic period.
The objective of this project is to discover if the pandemic situation caused several consequences in terms of profits and ranking position.

In [1]:
#Import the neccessary libraries
import pandas as pd 
import seaborn as sb

In [3]:
df = pd.read_csv(r"C:\Users\CR\Desktop\datasets_used\data_visualizations\top50restaurants.csv")

In [4]:
df.head()

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes

In [5]:
#We remove null values 
df = df.dropna()

We gather the total amount of sales for each restaurant and we get the next result.

We see the restaurant with the highest amount of sales during 2020 was the "Blue Sushi Sake Grill" restaurant.

In [22]:
Sales_restaurants = df.groupby("Restaurant")["Sales"].sum()
print(Sales_restaurants)
print("Restaurant with highest number of sales:",Sales_restaurants.max())

Restaurant
&pizza                              45
Bibibop Asian Grill                 44
Blue Sushi Sake Grill               49
Bluestone Lane                      48
Boqueria                            27
Bubbakoo's Burritos                 28
Bulla Gastrobar                     32
By Chloe                            37
Clean Eatz                          25
Clean Juice                         44
Condado Tacos                       38
Creamistry                          24
Culinary Dropout                    20
Dog Haus                            39
Dos Toros Taqueria                  28
Duck Donuts                         44
Eggs Up Grill                       30
Evergreens                          24
Famous Toastery                     40
Gus's World Famous Fried Chicken    44
Hawkers Asian Street Fare           22
Ike's Love & Sandwiches             44
Jeni's Splendid Ice Creams          42
Joe & The Juice                     47
Joella's Hot Chicken                29
Just Salad                          42
LA Crawfish                         48
Maple Street Biscuit Co.            39
Melt Shop                           20
Original ChopShop                   21
Pita Mediterranean Street Food      38
Playa Bowls                         39
Pokeworks                           49
Quickway Japanese Hibachi           22
Rapid Fired Pizza                   24
Slapfish                            21
Spitz Mediterranean Street Food     28
StoneFire Grill                     31
Sugarfire Smokehouse                39
Super Duper Burgers                 39
Surcheros                           22
Tacos 4 Life                        25
Teriyaki Madness                    41
The Flying Biscuit Cafe             29
The Human Bean                      47
The Little Beet                     23
The Lost Cajun                      20
The Pizza Press                     27
The Simple Greek                    24
Vitality Bowls                      37
Name: Sales, dtype: int64
Restaurant with highest number of sales: 49

This can lead us to a question,Â¿does people get more interested in asian food during this period?.
If we compare with this value with the "Bibibop Asian Grill" restaurant, we can find the results are not so much different each other

In [23]:
asian_grills = df

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

To be able to read all of these values in a appropiate way, we create a bar plot to retrieve all the data collected.